{{ partial "header.html" . }}

<section id="main">
  <div class="row">
    <div id="castaway-main" class="col s12 m12 l6 offset-l3">

      <article itemscope itemtype="http://schema.org/Blog" class="card castaway-card">

        <div class="card-title {{ if .Draft }}brown{{ else }}indigo{{ end }} darken-3 castaway-card-title">
          <div class="card-content">
            <div class="white-text" itemprop="headline">
              {{ .Title }}
            </div>
          </div>
        </div>

        <div class="card-content">
          <div class="row">
            <div class="castaway-date-published">
              <span>公開日：</span>
              <i class="material-icons" style="vertical-align: middle;">today</i>
              <time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006/01/02" }}</time>
              <span style="margin-left: 10px;"> タグ: </span>
              {{ range .Params.tags }}
                <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">
                  <div class="tag-{{.}} waves-effect waves-teal chip">
                    {{ . }}
                  </div>
                </a>
              {{ end }}
            </div>
          </div>

          <div class="castaway-card-content mdl-card__supporting-text mdl-color-text--grey-700">
            {{ .Content }}
          </div>

          <!-- tmrtmhr.info Link -->
          <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-1603242475624347"
            data-ad-slot="4367049913"
            data-ad-format="link"></ins>
          <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>

        <div class="card-action castaway-card-footer">
          <a class="btn waves-effect waves-light" href="/">サイトトップ</a>
        </div>

      </article>

    </div>

    </div>
  </div>
</section>

{{ partial "footer.html" . }}
